<!-- Hero Section -->
<section class="about-hero">
	<div class="hero-content"
	     [@slideIn]>
		<h1>Acropolis Grill </h1>
		<p>Where smoky flavors meet historic serenity</p>
		<p>{{ schedule }}</p>
		<button class="white">
			<a href="https://maps.app.goo.gl/T8QzHnnQ7GFeShpj8">
				<span nz-icon
				      nzType="aim"
				      nzTheme="outline"></span>
				Find Us in the Park
			</a></button>
	</div>
</section>

<section class="about-section">
	<h2>About Us</h2>
	<p>Located within the iconic Acropolis Park in Lagos, the Acropolis Grill Café is your escape into a world of
	   charcoal-grilled excellence. Inspired by the architectural grandeur of ancient Greece and the culinary richness of
	   Nigeria, our café blends traditional grill techniques with local spices and modern flavors.</p>
	<p> From sizzling suya platters to lamb gyros and grilled plantains, every dish is prepared with fire, love, and
	    flair.</p>
</section>

<app-menu-items [list]="appetizers"
                headerTitle="Pasta"
                [headerDetails]="schedule"
                img="https://images.unsplash.com/photo-1572776082973-1cb8d1790872?q=80&w=3294&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
>
	<h2>Our Menu</h2>
</app-menu-items>


<section class="contacts">
	<h2>Contacts</h2>
	<div class="content">
		<a *ngFor="let tel of tels"
		   href="tel:{{tel}}">{{ tel }}</a>
		<button>
			<a href="https://www.instagram.com/theacropolisgrills/">
				<span nz-icon
				      nzType="instagram"
				      nzTheme="outline"></span>
				Instagram
			</a></button>

		<button>
			<a href="https://maps.app.goo.gl/T8QzHnnQ7GFeShpj8">
				<span nz-icon
				      nzType="aim"
				      nzTheme="outline"></span>
				Location
			</a></button>
	</div>
</section>
