<form class="filters"
      [formGroup]="filter">
	<div class="filter-group">
		<label>Filter by Venue:</label>
		<nz-select formControlName="venueId"
		           nzPlaceHolder="All Venues"
		           [nzAllowClear]="true"
		           [nzOptions]="venueOptions"
		           class="filter-select">
		</nz-select>
	</div>

	<div class="filter-group">
		<label>Filter by Status:</label>
		<nz-select formControlName="statuses"
		           nzPlaceHolder="All Statuses"
		           nzMode="multiple"
		           [nzAllowClear]="true"
		           [nzOptions]="statuses"
		           class="filter-select">
		</nz-select>
	</div>

	<button nz-button
	        nzSize="default"
	        (click)="openModal.emit(null)">Add Booking
	</button>

	<button nz-button
	        nzType="primary"
	        (click)="refresh.emit()">
		<span nz-icon
		      nzType="redo"
		      nzTheme="outline"></span>
	</button>
</form>
