<app-service-categories
	*ngIf="!selectedCategoryId"
	(selectedCategoryIdChanged)="selectedCategoryId = $event"
></app-service-categories>

<app-services
	*ngIf="selectedCategoryId && !selectedServiceId"
	[selectedService]="selectedServiceId"
	[categoryId]="selectedCategoryId"
	(selectedServiceChanged)="selectedServiceId = $event"
	(categoryIdChanged)="selectedCategoryId = $event"
></app-services>

<app-booking
	*ngIf="selectedServiceId && !bookingId"
	[venueId]="selectedServiceId"
	(venueIdChanged)="selectedServiceId = $event"
	(bookingId)="bookingId = $event"
></app-booking>

<app-booking-confirmation
	*ngIf="!!bookingId"
	[bookingId]="bookingId"
></app-booking-confirmation>
