:host {
  margin-bottom: 120px;
  display: block;
}

/* Hero Section */
.about-hero {
  background-image: url("/assets/images/PARK AERIAL VIEW0.png");
  background-size: auto;
  background-position: center top -301px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  padding: 0 3rem;
  margin-top: -80px;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
                    to bottom,
                    rgb(46 52 76 / 14%), rgb(4 5 6 / 80%));
    z-index: 1;
  }

  .hero-content {
    max-width: 570px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);

    h1 {
      font-size: clamp(2rem, 5vw, 3.2rem);
      font-weight: 600;
      line-height: 1;
      margin: 0;
      font-family: var(--font-heading)  serif;
      letter-spacing: 0.5px;
      color: var(--color-accent);
      position: relative;
      display: inline-block;
    }

    p {
      max-width: 100%;
      text-align: start;
      font-size: clamp(1.6rem, 2vw, 2.8rem);
      /* font-style: normal; */
      color: var(--color-background);
      opacity: .8;
      letter-spacing: 0.5px;
      font-weight: 300;
      margin: 0;
    }
  }
}


/* Contact Info Section */
.contact-info-section {
  margin-top: 130px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 50px;

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    padding: 20px 0;
  }

  .map-container {
    width: 100%;
    flex: 1;

    iframe {
      display: block;
      border: none;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    //grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 34px 20px;
  }

  .info-item {
    transition: transform 0.3s ease;
    display: flex;
    //justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-direction: column;

    .anticon {
      font-size: 24px;
    }

    h5 {
      color: var(--color-text);
      font-size: 20px;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
    }

    p {
      color: var(--color-text);
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      margin: 0;
      font-family: var(--font-body)  serif;

      a {
        color: var(--color-text);
        border-bottom: 1px solid black;
      }

      &.multiple-lines {
        display: flex;
        min-width: 250px;
        gap: 10px;
        justify-content: flex-end;
      }
    }
  }
}

h4 {
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .contact-info-section {
    flex-direction: column;
    padding: 0 10px;
  }

  .info-grid {
    grid-template-columns: minmax(200px, 1fr) !important;
  }
}

@media screen and (max-width: 450px) {
  .hero-content p {
    display: none;
  }
}
