<footer class="acropolis-footer">
	<div class="footer-content">
		<div class="logo-section">
			<a routerLink="/">
				<img src="/assets/images/logo.ico"
				     width="100"
				     alt="">
				<h3>acropolis park</h3>
			</a>
			<a class="location"
			   href="https://g.co/kgs/RDVcWYK">
				Plot No. 3872, E27, Apo District, Abuja, FCT 900110
			</a>
			<p>&copy; {{ currentYear }} Acropolis Park. All rights reserved.</p>
		</div>

		<div class="footer-social">
			<h4>Contacts</h4>
			<a href="tel:+2349030030888">+2349030030888</a>
			<a href="mailto:info@acropolispark.com">info&#64;acropolispark.com</a>
			<div class="social-icons">
				<app-social-links
					displayMode="icons"
					size="large"
					direction="horizontal"
					color="var(--color-text, #1A202C)"
					hoverColor="var(--color-accent, #f76a0c)">
				</app-social-links>
			</div>

		</div>
		<div class="footer-links">
			<h4>Pages</h4>
			<ul>
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/about">About Us</a></li>
				<li><a nz-dropdown
				       nzTrigger="hover"
				       [nzDropdownMenu]="menu">Services
					<span nz-icon
					      nzType="down"></span></a></li>
				<li><a routerLink="/contact">Contact</a></li>
				<li><a routerLink="/privacy-policy">Privacy Policy</a></li>
			</ul>

			<nz-dropdown-menu #menu="nzDropdownMenu">
				<ul nz-menu
				    nzSelectable>
					<li nz-menu-item
					    [routerLink]="service.route"
					    routerLinkActive="active"
					    *ngFor="let service of services">
							{{ service.name }}
							<span *ngIf="notReadyServices.includes(service.name)"
							      nz-typography
							      nzType="secondary">(soon)</span>
					</li>

				</ul>
			</nz-dropdown-menu>
		</div>
	</div>

</footer>
