<header class="app-header">
	<div class="logo">
		<a routerLink="/admin">Acropolis Park Venue Booking</a>
	</div>
	<div class="auth-actions">
		<button *ngIf="isLoggedIn()"
		        class="logout-btn"
		        (click)="logout()">Logout
		</button>
		<a *ngIf="!isLoggedIn()"
		   routerLink="/login"
		   class="login-btn">Login</a>
	</div>
</header>

<main class="app-content" *ngIf="isLoggedIn()">
	<nz-tabset [nzSelectedIndex]="activeTabIndex"
	           (nzSelectedIndexChange)="onTabChange($event)">
		<nz-tab nzTitle="Categories">
			<ng-template nz-tab>
				<app-category-management></app-category-management>
			</ng-template>
		</nz-tab>

		<nz-tab nzTitle="Venues">
			<ng-template nz-tab>
				<app-venue-management></app-venue-management>
			</ng-template>
		</nz-tab>

		<nz-tab nzTitle="Calendar">
			<ng-template nz-tab>
				<app-admin-calendar></app-admin-calendar>
			</ng-template>
		</nz-tab>

		<nz-tab nzTitle="Bookings">
			<ng-template nz-tab>
				<app-booking-table></app-booking-table>
			</ng-template>
		</nz-tab>

		<nz-tab nzTitle="Working Schedule">
			<ng-template nz-tab>
				<app-work-schedule></app-work-schedule>
			</ng-template>
		</nz-tab>

		<nz-tab nzTitle="Users">
			<ng-template nz-tab>
				<app-user-management></app-user-management>
			</ng-template>
		</nz-tab>


	</nz-tabset>
</main>
