<!--<app-service-categories-->
<!--	*ngIf="!selectedCategoryId"-->
<!--	(selectedCategoryIdChanged)="selectedCategoryId = $event"-->
<!--&gt;</app-service-categories>-->

<!--<app-services-->
<!--	*ngIf="selectedCategoryId && !selectedServiceId"-->
<!--	[selectedService]="selectedServiceId"-->
<!--	[categoryId]="selectedCategoryId"-->
<!--	(selectedServiceChanged)="selectedServiceId = $event"-->
<!--	(categoryIdChanged)="selectedCategoryId = $event"-->
<!--&gt;</app-services>-->

<!--<app-booking-->
<!--	*ngIf="selectedServiceId && !bookingId"-->
<!--	[venueId]="selectedServiceId"-->
<!--	(venueIdChanged)="selectedServiceId = $event"-->
<!--	(bookingId)="bookingId = $event"-->
<!--&gt;</app-booking>-->

<!--<app-booking-confirmation-->
<!--	*ngIf="!!bookingId"-->
<!--	[bookingId]="bookingId"-->
<!--&gt;</app-booking-confirmation>-->
