<!-- Hero Section -->
<section class="about-hero">
	<div class="hero-content" [@slideIn]>
		<h1>Acropolis Foods</h1>
		<h3>In partnership with Huse's Cafe</h3>
		<p>{{ schedule }}</p>
		<button class="white">
			<a href="https://maps.app.goo.gl/T8QzHnnQ7GFeShpj8">
				<span nz-icon
				      nzType="aim"
				      nzTheme="outline"></span>
				Find Us in the Park
			</a></button>
	</div>
</section>

<section class="about-section">
	<h2>About Us</h2>
	<p>Tucked into the cultural haven of Acropolis Park, Victoria Island, the Acropolis Café offers a peaceful getaway
	   from Lagos' bustling streets. Our cozy space brings together rich African coffee, freshly baked pastries, and a
	   hint of Greek-inspired charm.
	</p>
	<p>Whether you're looking for a quiet spot to work, connect with friends, or simply unwind, Acropolis Café blends
	   ancient soul with modern flavor — one cup at a time.</p>
</section>




<section class="gallery-section">
			<ng-container *ngFor="let image of images">
				<div class="gallery-image"
				     [style.background-image]="'url(' + image + ')'"></div>
			</ng-container>
<!--	<app-carousel-->
<!--		[perView]="3"-->
<!--		[showIndicators]="true"-->
<!--		[showControls]="false"-->
<!--		[autoplay]="true"-->
<!--		[autoplayDelay]="5000">-->

<!--		<div *ngFor="let image of images"-->
<!--		     class="carousel-item"-->
<!--		     carouselItem>-->
<!--			<div class="gallery-image"-->
<!--			     [style.background-image]="'url(' + image + ')'"></div>-->
<!--		</div>-->

<!--	</app-carousel>-->
</section>

<app-menu-items [list]="appetizers"
                headerTitle="Pasta">
	<h2>Our Menu</h2>
</app-menu-items>

<app-menu-items [list]="sandwiches"
                [headerDetails]="sandwichesDetails"
                headerTitle="Sandwiches">
</app-menu-items>

<app-menu-items [list]="shawarmas"
                [headerDetails]="shawarmaDescription"
                headerTitle="Shawarmas">
</app-menu-items>

<app-menu-items [list]="salads"
                headerTitle="Salads">
</app-menu-items>

<app-menu-items [list]="sides"
                headerTitle="Sides">
</app-menu-items>

<section class="contacts">
	<h2>Contacts</h2>
	<div class="content">
		<a href="tel:{{tel}}">{{ tel }}</a>
		<button>
			<a href="https://www.instagram.com/cafe_huse/">
				<span nz-icon
				      nzType="instagram"
				      nzTheme="outline"></span>
				Instagram
			</a></button>

		<button>
			<a href="https://maps.app.goo.gl/N1hymWgVuZ1BQ5eQA">
				<span nz-icon
				      nzType="aim"
				      nzTheme="outline"></span>
				Location
			</a></button>
	</div>

</section>
