.acropolis-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;

  .acropolis-content {
    flex: 1;
    padding-top: 80px; // To account for the fixed header
    margin: 100px 0;
  }
}
