.acropolis-footer {
  color: var(--color-primary);
  padding: var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
  font-family: var(--font-body) serif;

  a {
    color: var(--color-primary);
    font-weight: 300;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    gap: var(--spacing-lg);
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      text-decoration: none;
      color: var(--color-primary);
      display: inline-flex;
      align-items: center;
      gap: 10px;
    }

    h3 {
      font-size: 1.8rem;
      margin-bottom: 0;
      font-weight: 600;
      font-family: var(--font-heading), serif;
      letter-spacing: 0;
      text-transform: uppercase;
    }

    .location {
      margin: 0;
      font-size: 21px;
    }

    p {
      font-weight: 300;
    }
  }

  .footer-links, .footer-social {
    h4 {
      font-size: 21px;
      margin-bottom: var(--spacing-sm);
      position: relative;
      padding-bottom: var(--spacing-xs);
      font-family: var(--font-heading) serif;
      font-weight: 300;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: var(--spacing-xs);
        transition: transform var(--transition-fast);

        &:hover {
          transform: translateX(5px);
        }

        a {
          opacity: 0.7;
          text-decoration: none;
          transition: all var(--transition-fast);
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          letter-spacing: 0.5px;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > a {
      font-size: 21px;
      opacity: 0.7;
    }

    .social-icons {
      display: flex;
      gap: var(--spacing-sm);
      margin-bottom: var(--spacing-md);
      opacity: 0.7;

      .social-icon {
        font-size: 21px;
      }
    }
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .acropolis-footer {
    .footer-content {
      grid-template-columns: 1fr;
    }
  }

  .logo-section, .footer-social, .footer-links {
    align-items: center !important;
    text-align: center;
  }
}
