<form nz-form [formGroup]="scheduleForm">
	<nz-form-item>
		<nz-form-label [nzSpan]="6"
		               nzRequired>Date
		</nz-form-label>
		<nz-form-control [nzSpan]="14"
		                 nzErrorTip="Please select a date!">
			<nz-select formControlName="date"
			           [nzOptions]="weekDaysOptions"
			           nzPlaceHolder="Select a Day">
			</nz-select>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-label [nzSpan]="6"
		               nzRequired>Start Time
		</nz-form-label>
		<nz-form-control [nzSpan]="14"
		                 nzErrorTip="Please select a start time!">
			<nz-input-number formControlName="startTime"
			                 [nzMin]="0"
			                 [nzMax]="23"></nz-input-number>
			<!--			<nz-time-picker formControlName="startTime"-->
			<!--			                nzFormat="HH:mm"></nz-time-picker>-->
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-label [nzSpan]="6"
		               nzRequired>End Time
		</nz-form-label>
		<nz-form-control [nzSpan]="14"
		                 nzErrorTip="Please select an end time!">
			<nz-input-number formControlName="endTime"
			                 [nzMin]="0"
			                 [nzMax]="23"></nz-input-number>
<!--			<nz-time-picker formControlName="endTime"-->
<!--			                nzFormat="HH:mm"></nz-time-picker>-->
		</nz-form-control>
	</nz-form-item>

<!--	<nz-form-item>-->
<!--		<nz-form-label [nzSpan]="6"-->
<!--		               nzRequired>Description-->
<!--		</nz-form-label>-->
<!--		<nz-form-control [nzSpan]="14"-->
<!--		                 nzErrorTip="Please input a description (max 500 characters)!">-->
<!--      <textarea-->
<!--	      formControlName="description"-->
<!--	      nz-input-->
<!--	      rows="4"-->
<!--	      placeholder="Enter task description">-->
<!--      </textarea>-->
<!--		</nz-form-control>-->
<!--	</nz-form-item>-->

	<div *nzModalFooter>
		<button nz-button
		        nzType="default"
		        (click)="cancel()">Cancel
		</button>
		<button nz-button
		        nzType="primary"
		        [disabled]="!scheduleForm.valid"
		        (click)="submitForm()">
			Save
		</button>
	</div>
</form>
