.filters {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 5px;

  .filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;

    label {
      white-space: nowrap;
    }

    .filter-select {
      width: 180px;
    }
  }
}
