<div class="confirmation-container">
	<nz-spin [nzSpinning]="isLoading">
			<nz-result *ngIf="!error && booking"
				nzStatus="success"
				nzTitle="Booking Confirmed!"
				nzSubTitle="Thank you for your booking. We've sent the details to your email.">
				<div nz-result-extra>
					<button nz-button
					        nzType="primary"
					        (click)="browseVenues()">To main page
					</button>

				</div>
			</nz-result>

		<app-no-booking-found *ngIf="error"></app-no-booking-found>
	</nz-spin>
</div>
