<header class="acropolis-header"
        [ngClass]="isScrolled() ? 'scrolled' : ''">
	<div class="header-container">
		<span [hidden]="!isMobileMenuOpen()"></span>
		<div class="logo"
		     [hidden]="isMobileMenuOpen()">
			<a routerLink="/">
				<img src="/assets/images/logo.ico"
				     alt="Acropolis Park Logo"
				     width="100">
				<h1>acropolis park</h1>
			</a>
		</div>

		<!-- Desktop Navigation -->
		<nav class="desktop-nav">
			<ul>
				<li><a routerLink="/"
				       routerLinkActive="active"
				       [routerLinkActiveOptions]="{exact: true}">home</a></li>
				<li><a routerLink="/about"
				       routerLinkActive="active">about us</a></li>
				<li class="dropdown">
					<a (mouseenter)="isServicesDropdownOpen.set(true)"
					   (mouseleave)="isServicesDropdownOpen.set(false)"
					   routerLinkActive="active">
						services
						<span nz-icon
						      [nzType]="isServicesDropdownOpen() ? 'up' :'down'"
						      class="dropdown-icon"
						      nzTheme="outline"></span>
						<!--						<span class="dropdown-icon">▼</span>-->
					</a>
					<div class="dropdown-menu"
					     [class.show]="isServicesDropdownOpen()"
					     (mouseenter)="isServicesDropdownOpen.set(true)"
					     (mouseleave)="isServicesDropdownOpen.set(false)">
						<a *ngFor="let service of services"
						   [routerLink]="service.route"
						   routerLinkActive="active">
							<nz-ribbon nzText="soon"
							           *ngIf="notReadyServices.includes(service.name); else name"
							           nzColor="blue">
								{{ service.name }}
							</nz-ribbon>

							<ng-template #name>
								{{ service.name }}
							</ng-template>
						</a>
					</div>
				</li>
				<li><a routerLink="/contact"
				       routerLinkActive="active">contact us</a></li>
			</ul>
		</nav>

		<!-- Mobile Menu Toggle -->
		<div class="mobile-toggle"
		     (click)="toggleMobileMenu()">
			<span [ngClass]="{'open': isMobileMenuOpen()}"
			      class="menu-button"
			      nz-icon
			      [nzType]="isMobileMenuOpen() ?'close':'menu'"></span>
		</div>

		<!-- Mobile Navigation -->
		<nav class="mobile-nav"
		     [ngClass]="{'open': isMobileMenuOpen()}">
			<ul>
				<li><a routerLink="/"
				       routerLinkActive="active"
				       [routerLinkActiveOptions]="{exact: true}"
				       (click)="closeMenus()">home</a></li>
				<li><a routerLink="/about"
				       routerLinkActive="active"
				       (click)="closeMenus()">about us</a></li>
				<li>
					<div class="mobile-dropdown-header"
					     (click)="toggleServicesDropdown()">
						services
						<span nz-icon
						      [nzType]="isServicesDropdownOpen() ? 'up' :'down'"
						      class="dropdown-icon"
						      nzTheme="outline"></span>
						<!--						<span class="dropdown-icon">{{ isServicesDropdownOpen ? '▲' : '▼' }}</span>-->
					</div>
					<div class="mobile-dropdown-content"
					     [ngClass]="{'open': isServicesDropdownOpen()}">
						<a *ngFor="let service of services"
						   [routerLink]="service.route"
						   routerLinkActive="active"
						   (click)="closeMenus()">
							<nz-ribbon nzText="soon"
							           *ngIf="notReadyServices.includes(service.name); else name"
							           nzColor="blue">
								{{ service.name }}
							</nz-ribbon>

							<ng-template #name>
								{{ service.name }}
							</ng-template>
						</a>
					</div>
				</li>
				<li><a routerLink="/contact"
				       routerLinkActive="active"
				       (click)="closeMenus()">contact us</a></li>
				<li>
					<div class="social-media-wrapper">
						<app-social-links
							displayMode="icons"
							size="large"
							direction="horizontal"
							color="var(--color-light)"
							hoverColor="var(--color-accent)">
						</app-social-links>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</header>

<!-- Mobile menu overlay -->
<div class="mobile-menu-overlay"
     [ngClass]="{'open': isMobileMenuOpen()}"
     (click)="closeMenus()"></div>
