<!-- Hero Section -->
<section class="about-hero">
	<div class="hero-content" [@slideIn]>
		<h1>Acropolis Shopping </h1>
		<p>A cozy grocery corner in the heart of the park — offering daily essentials, local treats, and quick snacks for every visitor.</p>
	</div>
</section>

<!-- Our Story Section -->
<section class="about-section">
	<h2>About the Shopping</h2>

	<p>Whether you're taking a stroll, having a picnic, or heading home from a fun day out, the <b>Acropolis Grocery Shop</b> is your friendly go-to for:</p>

	<ul>
		<li>🥤 Chilled drinks & bottled water</li>
		<li>🍌 Fresh fruits & healthy snacks</li>
		<li>🍞 Bread, eggs, milk, and basics</li>
		<li>🍬 Locally made snacks & sweets</li>
		<li>🧃 Kids’ juices & quick bites</li>
		<li>🧻 Toiletries & park-day essentials/li>
	</ul>

	<p>We’re here to keep your visit <b>convenient, delicious, and worry-free</b>.</p>
</section>

<section class="contacts">
	<h2>Contacts</h2>
	<div class="content">
		<button>
			<a href="https://www.instagram.com/acropolispark/">
				<span nz-icon
				      nzType="instagram"
				      nzTheme="outline"></span>
				Instagram
			</a></button>

		<button>
			<a href="https://maps.app.goo.gl/T8QzHnnQ7GFeShpj8">
				<span nz-icon
				      nzType="aim"
				      nzTheme="outline"></span>
				Location
			</a></button>
	</div>
</section>

