<form nz-form
      [formGroup]="categoryForm">
	<nz-form-item>
		<nz-form-label [nzSpan]="6"
		               nzRequired>Title
		</nz-form-label>
		<nz-form-control [nzSpan]="18"
		                 nzErrorTip="Please enter a title (min 3 characters)">
			<input nz-input
			       formControlName="title"
			       placeholder="Category Title"/>
		</nz-form-control>
	</nz-form-item>

	<nz-form-item>
		<nz-form-label [nzSpan]="6"
		               nzRequired>Description
		</nz-form-label>
		<nz-form-control [nzSpan]="18"
		                 nzErrorTip="Please enter a description (min 10 characters)">
            <textarea
	            nz-input
	            formControlName="description"
	            placeholder="Category Description"
	            [nzAutosize]="{ minRows: 4, maxRows: 8 }">
            </textarea>
		</nz-form-control>
	</nz-form-item>

	<!-- Image Upload -->
	<nz-form-item>
		<nz-form-label nzRequired>Category Image</nz-form-label>
		<nz-form-control nzErrorTip="Please upload an image">
			<div class="image-upload-container">
				<div class="upload-button-container"
				     *ngIf="!imageUrl">
					<nz-upload
						[nzBeforeUpload]="beforeUpload"
						[nzShowUploadList]="false">
						<button nz-button
						        [nzLoading]="isUploading">
								<span nz-icon
								      nzType="upload"></span> Upload Image
						</button>
					</nz-upload>
					<div *ngIf="isUploading"
					     class="upload-progress">
						Uploading: {{ uploadProgress }}%
					</div>
				</div>
				<div class="image-preview-container"
				     *ngIf="imageUrl">
					<img [src]="imageUrl"
					     alt="Category image preview"
					     class="image-preview"/>
					<button nz-button
					        nzType="default"
					        (click)="imageUrl = ''; categoryForm.get('imageUrl')?.setValue('')">
							<span nz-icon
							      nzType="delete"></span> Remove
					</button>
				</div>
			</div>
		</nz-form-control>
	</nz-form-item>
	<!--	<nz-form-item>-->
	<!--		<nz-form-label [nzSpan]="6">Image-->
	<!--		</nz-form-label>-->
	<!--		<nz-form-control [nzSpan]="18">-->
	<!--			<div class="upload-container">-->
	<!--				<nz-upload-->
	<!--					[nzFileList]="fileList"-->
	<!--					[nzShowUploadList]="{ showPreviewIcon: true, showRemoveIcon: true }"-->
	<!--					[nzCustomRequest]="customUpload"-->
	<!--					(nzChange)="handleFileChange($event)"-->
	<!--					[nzMultiple]="false"-->
	<!--					[nzListType]="'picture-card'"-->
	<!--					[nzDisabled]="isUploading">-->
	<!--					<div *ngIf="fileList.length < 1">-->
	<!--									<span nz-icon-->
	<!--									      nzType="plus"></span>-->
	<!--						<div class="ant-upload-text">Upload</div>-->
	<!--					</div>-->
	<!--				</nz-upload>-->

	<!--				<nz-spin *ngIf="isUploading"-->
	<!--				         nzSimple></nz-spin>-->
	<!--			</div>-->
	<!--		</nz-form-control>-->
	<!--	</nz-form-item>-->
</form>

<div *nzModalFooter
     class="flex-justify-end__row flex-gap5">
	<button (click)="onCancel()"
	        nz-button
	        nzType="default"
	        type="button">
      <span nz-icon
            nzType="close"></span>
		Cancel
	</button>

	<button (click)="onSave()"
	        [disabled]="categoryForm.invalid"
	        nz-button
	        nzType="primary"
	        type="button">
     <span nz-icon
           nzType="save"></span>
		Save
	</button>
</div>
