<app-calendar-filter (filterChanged)="applyFilters($event)"
                     (openModal)="showBookingDetails()"
                     (refresh)="loadBookings()"
                     (venues)="setVenues($event)"></app-calendar-filter>

<nz-table #bookingsTable
          [nzData]="filteredBooking"
          [nzLoading]="loading"
          [nzScroll]="{x: '10px'}"
          [nzShowPagination]="bookings.length > 10"
          [nzPageSize]="10">
	<thead>
	<tr>
		<th>Venue</th>
		<th>Date & Time</th>
		<th>Event Type</th>
		<th>Customer</th>
		<th>Payment</th>
		<th>Status</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let booking of bookingsTable.data"
	    (click)="showBookingDetails(booking)">
		<td>
			<nz-badge [nzColor]="venues.get(booking.venueId)?.color"></nz-badge>
			{{ getVenueName(booking.venueId) }}
			{{ booking?.id }}
		</td>
		<td>
			<div>{{ booking?.date | date }}</div>
			<div class="time-slot">{{ booking.startTime }} - {{ booking.endTime }}</div>
		</td>
		<td>{{ booking.eventType }}</td>
		<td>
			<div>{{ booking.customerName }}</div>
			<div class="contact-info">{{ booking.customerPhone }}</div>
			<div class="contact-info">{{ booking.customerEmail }}</div>
		</td>
		<td>
			<div>{{ currencySymbol }}{{ booking.totalAmount }}</div>
			<nz-tag [nzColor]="getPaymentStatusBadge(booking?.paymentDetails?.paymentStatus)">
				{{ booking?.paymentDetails?.paymentStatus }}
			</nz-tag>
			<div>{{ booking?.paymentDetails?.paymentType }}</div>
		</td>
		<td>
			<nz-badge [nzStatus]="getStatusBadge(booking.status)"
			          [nzText]="booking.status"></nz-badge>
		</td>
		<td>
		</td>
	</tr>
	</tbody>
</nz-table>
